
NODE_RED_FLOW:
    label: Node-RED flow.json
    type: textarea
    description: defines the Node-RED flow, which will be deployed
    defaultValue: |
        []

# ADMIN_ROOT:
#     label: Node-RED Development UI
#     type: textarea
#     description: The route to the Development UI
#     defaultValue: '/admin'

        
# UI_ROOT:
#     label: Node-RED Dashboard
#     type: textarea
#     description: The route to the Dashboard UI
#     defaultValue: '/'


DEV_MODE:
    label: Enable Development Mode
    type: boolean
    description: When not in dev mode you can still reach the flow designer at the /admin route
    defaultValue: false